<!DOCTYPE html>
{% extends 'base.html' %}
{% load static %}
{% block title_block %}
About
{% endblock %}

{% block body_block %}
<section id="inner-title" class="inner-title">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-lg-6"><h2>About us</h2></div>
      <div class="col-md-6 col-lg-6">
        <div class="breadcrumbs">
          <ul>
            <li>Current Page:</li>
            <li><a href="{% url 'index' %}">Homepage</a></li>
            <li><a href="{% url 'about' %}">About</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section> 
<section id="section18" class="section-margine">
  <div class="container">
  <div class="section18">
    <div class="row">
      <div class="col-md-8 col-lg-8 wow fadeInUp">
        <div class="textcont">
          <h3>Some Technical Information Here</h3>
          <p>Some Technical Information Here.<br><br></p>
{#          <p>aaa</p>#}
{#          <h4>header</h4>#}
{#          <p>bbb</p>#}
        </div>  
      </div>
      <div class="col-md-4 col-lg-4 wow fadeInUp" data-wow-delay=".2s">
        <div class="section-18-img">
{#          <img src="{% static 'images/a0.jpg' %}"  class="img-responsive" alt="">#}
        </div>
      </div>
    </div>
  </div>  
  </div>
</section>

{% endblock %}