<!DOCTYPE html>
{% extends 'base.html' %}
{% load static %}

{% block title_block %}
Homepage
{% endblock %}

{% block body_block %}
<section id="slider" class="">
  <!-- Carousel -->
  <div id="main-slide" class="carousel slide" data-ride="carousel">

    <!-- Indicators -->
    <ol class="carousel-indicators visible-lg visible-md">
        <li data-target="#main-slide" data-slide-to="0" class="active"></li>
       <li data-target="#main-slide" data-slide-to="1"></li>
       <li data-target="#main-slide" data-slide-to="2"></li>
    </ol><!--/ Indicators end-->

    <!-- Carousel inner -->
    <div class="carousel-inner">

      <div class="item active" style="background-image:url({% static 'images/slide/1.jpg' %})">
            <div class="slider-content text-left">
               <div class="col-md-12">
                   <h2 class="slide-title effect2">Latest Data Here</h2>
                   <h3 class="slide-sub-title effect3">Latest Data Here</h3>
                   <p class="slider-description lead effect3">Latest Data Here.</p>
                   <p class="effect3">
                    <a href="{% url 'covid:dataframe' %}" class="slider btn btn-primary">Check up Data</a>
                    <a href="https://www.kaggle.com/antgoldbloom/covid19-data-from-john-hopkins-university/download" class="slider btn btn-secondary">Download Data</a>
                   </p>      
               </div>
            </div>
       </div><!--/ Carousel item 1 end -->


      <div class="item" style="background-image:url({% static 'images/slide/2.jpg' %})">
            <div class="slider-content">
               <div class="col-md-12 text-center">
                   <h2 class="slide-title effect4">Data Analysis</h2>
                   <h3 class="slide-sub-title effect5">Data Analysis</h3>
                   <p>
                    <a href="{% url 'covid:analysis' %}" class="slider btn btn-primary">Analysis</a>
                   </p>      
               </div>
            </div>
       </div><!--/ Carousel item 2 end -->


       <div class="item" style="background-image:url({% static 'images/slide/3.jpg' %})">
            <div class="slider-content text-right">
               <div class="col-md-12">
                   <h2 class="slide-title effect6">Prediction</h2>
                   <h3 class="slide-sub-title effect7">Prediction</h3>
                   <p class="slider-description lead effect7">Prediction Here.</p>
                   <p>
                    <a href="{% url 'covid:prediction' %}" class="slider btn btn-primary">Prediction</a>
                    <a href="{% url 'covid:prediction' %}" class="slider btn btn-primary border">Know More</a>
                   </p>      
               </div>
            </div>
        </div><!--/ Carousel item 3 end -->
        
    </div><!-- Carousel inner end-->

    <!-- Controllers -->
    <a class="left carousel-control" href="#main-slide" data-slide="prev">
        <span><i class="fa fa-angle-left"></i></span>
    </a>
    <a class="right carousel-control" href="#main-slide" data-slide="next">
        <span><i class="fa fa-angle-right"></i></span>
    </a>
  </div><!--/ Carousel end -->
</section>

<section id="section1" class="section-margine">
  <div class="container">
    <div class="row">
      <div class="col-md-3 col-sm-6">
        <div class="section-1-box wow bounceIn">
          <div class="section-1-box-icon-background"><i class="fa fa-ambulance fa-2x"></i></div>
          <h4 class="text-center">Europe</h4>
          <p class="text-center"># Cases</p>
        </div>
      </div>
      <div class="col-md-3  col-sm-6">
        <div class="section-1-box wow bounceIn" data-wow-delay=".1s">
          <div class="section-1-box-icon-background"><i class="fa fa-user-md fa-2x"></i></div>
          <h4 class="text-center">America</h4>
          <p class="text-center"># Cases</p>
        </div>
      </div>
      <div class="col-md-3  col-sm-6">
        <div class="section-1-box wow bounceIn" data-wow-delay=".2s">
          <div class="section-1-box-icon-background"><i class="fa fa-h-square fa-2x"></i></div>
          <h4 class="text-center">Africa</h4>
          <p class="text-center"># Cases</p>
        </div>
      </div>
      <div class="col-md-3  col-sm-6">
        <div class="section-1-box wow bounceIn" data-wow-delay=".3s">
          <div class="section-1-box-icon-background"><i class="fa fa fa-heartbeat fa-2x"></i></div>
          <h4 class="text-center">Asia & Oceania</h4>
          <p class="text-center"># Cases</p>
        </div>
      </div>
    </div>
  </div>
</section>

<section id="section3" class="section-margine section3-background">
  <div class="container">
    <div class="row">
      <div class="col-md-3 col-sm-6">
        <div class="section-3-box">
          <figure><i class="fa fa-desktop fa-2x"></i></figure>
          <h3><span class="counter">Data</span></h3>
          <h4>New Cases</h4>
        </div>
      </div>
      <div class="col-md-3 col-sm-6">
        <div class="section-3-box">
          <figure><i class="fa fa-group fa-2x"></i></figure>
          <h3><span class="counter">Data</span></h3>
          <h4>Total Cases</h4>
        </div>
      </div>
      <div class="col-md-3 col-sm-6">
        <div class="section-3-box">
          <figure><i class="fa fa-coffee fa-2x"></i></figure>
          <h3><span class="counter">Data</span></h3>
          <h4>Total Deaths</h4>
        </div>
      </div>
      <div class="col-md-3 col-sm-6">
        <div class="section-3-box">
          <figure><i class="fa fa-glass fa-2x"></i></figure>
          <h3><span class="counter">Data</span></h3>
          <h4>Vaccinated Rate</h4>
        </div>
      </div>
    </div>
  </div>
</section>
<section id="section4" class="section-4 section-margine">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <header class="title-head">
          <h2>Some Tips Here</h2>
          <p>Some tips here.</p>
          <div class="line-heading">
            <span class="line-left"></span>
            <span class="line-middle">+</span>
            <span class="line-right"></span>
          </div>
        </header>
      </div>
      <div class="col-md-4 col-sm-6 right wow fadeInUp">
        <ul class="section">
          <li class="left"><i class="fa fa-medkit"></i></li>
          <li><strong>Tip 1</strong>
          <p>1</p>
          <a href="#" class="btn btn-primary btn-sm">Know More</a>
        </ul>
        <ul class="section two">
          <li class="left"><i class="fa fa-stethoscope"></i></li>
          <li><strong>Tip 2</strong>
            <p>2</p>
            <a href="#" class="btn btn-primary btn-sm">Know More</a>
          </li>
        </ul>
      </div>
      <div class="col-md-4 hidden-sm hidden-xs left wow fadeInUp" data-wow-delay=".2s"><img alt="" src="{% static 'images/m4.png' %}"></div>
      <!-- end left -->
      <div class="col-md-4 col-sm-6 right wow fadeInUp" data-wow-delay=".3s">
        <ul class="section three">
          <li class="left"><i class="fa fa-user-md"></i></li>
          <li><strong>Tip 3</strong>
            <p>3</p>
            <a href="#" class="btn btn-primary btn-sm">Know More</a>
          </li>
        </ul>
        <ul class="section four">
          <li class="left"><i class="fa fa-unlink"></i></li>
          <li><strong>Tip 4</strong>
            <p>4</p>
            <a href="#" class="btn btn-primary btn-sm">Know More</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>

{% endblock %}