<!DOCTYPE html>
{% extends 'base.html' %}
{% load static %}
{% block title_block %}
Analysis
{% endblock %}

{% block body_block %}
<section id="section18" class="section-margine">
  <div class="container">
  <div class="section18">
    <div class="row">
      <div class="col-md-8 col-lg-8 wow fadeInUp">
        <div class="textcont">
          <h3>Data Analysis Here</h3>
          <p>Data analysis here.<br><br></p>
        </div>
      </div>
    </div>
  </div>
  </div>
</section>

{% endblock %}